* {
  box-sizing: border-box;
}
*,
::after,
::before {
  margin: 0;
  padding: 0;
}

body {
  max-width: 1400px;
  margin: 0 auto;
  background-color: #ececec;
  font-family: Open Sans, sans-serif;
  font-size: 1rem;
    height: 60vh;
}

.neumorphism__form {
  -webkit-appearance: none;
  width: 470px;
  height: 500px;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2%;
  padding: 10px;
  box-shadow: -10px -10px 15px rgba(255, 255, 255, 0.5),
    10px 10px 15px rgba(70, 70, 70, 0.12);
    border-radius: 50px;
    outline: none;
    border: 8px solid #ececec;
}

.form__content{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px;
  padding: 10px;
}

.form__input{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  outline: none;
  border: none;
  box-shadow:   -10px -10px 15px rgba(255, 255, 255, 0.5),
  inset 10px 10px 15px rgba(70, 70, 70, 0.12);
  font-size: 15px;
  border-radius: 10px;
  padding: 10px;
  border-color: #ececec;
}

label{
  font-size: 16px;
}

input[type="checkbox"]{
  width: 20px;
  height: 20px;
  -webkit-appearance: none;
   box-shadow:   -10px -10px 15px rgba(255, 255, 255, 0.5),
   10px 10px 15px rgba(70, 70, 70, 0.12);
   border-radius: 50%;
}

.form__button{
    border: none;
    outline: inherit;
    text-align: center;
    border-radius: .5rem;
}

button{
padding: 1rem;
    outline: none;
    border: none;
    background: transparent;
    color: white;
    text-transform: uppercase;
    letter-spacing: 1.2px;
    width: 100%;
    border-radius: .5rem;
     background-color: #1f48e9;
    font-weight: bold;
}

button:hover{
    background-color: white;
    color: #1f48e9;
transition: .3s;
}

.navbar{
    margin: 2rem;}

.nav-items ul{
   list-style: none
}
.nav-list a{
    text-decoration: none;
    color: white;
}

.nav-list a:hover{
    color: yellow;
}
.nav-list{
    padding: 1.1rem;
    text-transform: uppercase;
}

.nav-items{
    background-color: #1f45e9;
    width: 17vw;
    border-radius: .5rem;
    color: white;}
